.contenido {
    background-color: #f5f5dc;
    min-height: 600px;
    padding: 1rem;


}

.contenidoBlog {
    background-color: #f5f5dc;
    min-height: 100%;

}

.contenedor-bocadillos,
.contenedor-platillos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.contenedor-articulos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

/*Estilizado del contenedorRedesSociales */

.contenedorRedesSociales {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    gap: 10px;

}

.contenedorFacebook,
.linkFacebook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}


.bocadillo img,
.platillo img {
    width: 90%;
    height: 50%;
    background-size: cover;
    border-radius: 10%;
    transition: transform ease-in 0.10s;
}

.contenedorFacebook a img {
    width: 5%;
    height: 5%;
    padding-bottom: 2%;
    align-self: center;
}

.bocadillo img:hover,
.platillo img:hover {
    transform: scale(1.25);
    cursor: pointer;
    ;
}

.articuloPopUp {
    padding: 5%;
    background-color: rgb(167, 135, 135);
    border-radius: 2%;
    font-weight: bold;
    color: white;
}

.articuloPopUp:hover {
    cursor: pointer;
}

.bocadillo,
.platillo {
    background-color: #f5f5dc;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10%;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    /*Aplicar animacion de fade in a los contenedores*/
    animation: animacionFadeIn ease 2s;
}

.articulo {

    flex: 1;
    padding: 2rem;
    border-radius: 10%;
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    overflow: hidden;
}


.articulo img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10%;
    transition: transform ease-in 0.10s;
}

@media (max-width:480px) {

    .contenedorLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        /* Ensures horizontal centering */
    }

    .contenedorLogo img {
        max-width: 150px;
        /* Smaller logo size for mobile */
        height: auto;
    }


    nav ul {
        /*Acomodar los elementos del navbar 
        de forma horizontal (row) */
        flex-direction: row;
        flex-wrap: wrap;
        font-size: smaller;
        margin-right: 20px;
        /*Agregar un margen de 10 px 
        arriba */
        margin-top: 10px;
    }

    .contenedor-bocadillos,
    .contenedor-platillos,
    .contenedor-articulos {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
    }
}