/*CSS externo*/

/* Estilizado general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilizado del cuerpo*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#seccion1{
    background-color: black;
    top: 200 px;
}

/*Estilizado para el encabezado de la página (color de fondo, etc)*/
header {

    display: flex;
    position: fixed;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start; 

    /*Resetear las propiedades de posicion por defecto 
    y extender el header hasta el final de la pagina
    horizontalmente */
    top: 0;
    left: 0;
    width: 100%;

    /*Imagen de fondo */
    background: url("../img/Dried-Cranberry-Arroz-con-Pollo-Image.jpg");
    background-color: black;

    /*cubrir todo el header*/
    background-size: cover;
    /*posicionar la imagen en el centro*/
    background-position: center;
    /*no repetir la imagen*/
    background-repeat: no-repeat;

    padding: 1px 20px;


}

/*Estilizado para todos los encabezados h1 de la página*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilizado para el logo de la página*/
#logo {
    /*Cambia posicionamiento del elemento en X y Y*/
    transform: translate(-50px, 0px);
    /*No permitir que el logo se encoja*/
    flex-shrink: 0;
    /*mantener la posicion estatica */
    position:static;

    margin-right: auto;
}

/*Estilizado para los elementos del navbar (es una 
lista desordenada) de la página*/

nav ul {

    /*Quitar los 'bullets' de la lista*/
    list-style: none;

    /*Aplicar la propiedad flex*/
    display: flex;

    /*Dejar un espacio de 20 px entre cada elemento*/
    gap: 30px;

    /*Aplicar el color al texto de los elementos*/
    color: white;

    /*Aplicar sombra al texto (color | offset-x | offset-y | 
    radio de desenfoque */
    text-shadow: black 1px 0 10px;

    /*Aplicar negrita al texto*/
    font-weight: bold;

}

/*Estilizado para pantallas grandes */

/*(Media query) Chequear que la pantalla del dispositivo 
tenga un minimo de 768px (dispositivos de escritorio)*/

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }
}

/*Estilizado para pantallas pequeñas */

/*(Media query) Chequear que la pantalla del dispositivo 
tenga un máximo de 768px (dispositivos moviles)*/

@media (max-width: 768px){
    header {
        /*Acomodar los elementos del header
        en columna (verticalmente)*/
        flex-direction: column;
        /*Alinear los elementos
        en el centro*/
        align-items:center;
    }

    #logo{

        /*Agregar márgenes para
        centrar la imagen */
        margin-right: 10px;
        margin-left: 100px;
    }

    nav ul {
        /*Acomodar los elementos del navbar 
        de forma horizontal (row) */
        flex-direction:row;

        margin-right: 20px;
        /*Agregar un margen de 10 px 
        hacia arriba */
        margin-top: 10px;
    }
}

@media (max-width:720px){
    header {
        /*Acomodar los elementos del header
        en columna (verticalmente)*/
        flex-direction: column;
        /*Alinear los elementos
        en el centro*/
        align-items:center;
    }
    
    #logo{
    
        /*Agregar márgenes para
        centrar la imagen */
        margin-right: 10px;
        margin-left: 100px;
    }
    
    nav ul {
        /*Acomodar los elementos del navbar 
        de forma horizontal (row) */
        flex-direction:row;
    
        margin-right: 20px;
        /*Agregar un margen de 10 px 
        hacia arriba */
        margin-top: 10px;
    }
 }

 .encabezadoTexto {
    background-color: #c6a664; 
    min-height: 300px; 
    padding: 20px;
 }

 .contenidoPrincipal{
    background-color: #f5f5dc; 
    min-height: 600px; 
    padding: 20px;
 }

footer {
    background-color: #8B4513;
    display: flex;
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}